
<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
      <p><%= link_to image_tag("park.jpg"), new_activity_path({:'data-type' => 'active'})%></p>
  </div>
</div>

<div id="row">
  <div class="large-6 small-12 large-centered small-centered columns">
      <p><%= link_to image_tag("new_logo.png", class:"center"), new_activity_path %></p>
  </div>
</div>

<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
      <p><%= link_to image_tag("see_something.jpg"), new_activity_path({:'data-type' => 'arts'}) %></p>
  </div>
</div>
