<br>
<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
    <p class="interests">What are you looking to do today? </p>
  </div>
</div>

<div class="row">
  <div class="large-3 small-3 columns">

     <a id="activity-button" href="activities/new?data-type=active" class="button tiny">Do Something</a>
  </div>

  <div class="large-3 small-3 columns">
     <a id="activity-button" href="activities/new?data-type=restaurants" class="button tiny">Eat Something </a>

  </div>

  <div class="large-3 small-3 columns">
    <a id="activity-button" href="activities/new?data-type=arts" class="button tiny">See Something</a>
  </div>

  <div id="item_button" class="large-3 small-3 columns">
    <a id="activity-button" href="activities/new?data-type=bars" class="button tiny"> Drink Something </a>
  </div>
</div>


<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
      <%= link_to image_tag("park.jpg"), new_activity_path({:'data-type' => 'active'})%>
  </div>
</div>

<div id="row">
  <div id="logo" class="large-6 small-12 large-centered small-centered columns">
      <%= link_to image_tag("nice_logo3.png"), new_activity_path %>
  </div>
</div>

<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
     <%= link_to image_tag("see_something.jpg"), new_activity_path({:'data-type' => 'arts'}) %>
  </div>
</div>
