<div id="root" style="width: 280px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
    embeded area
</div>
<script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
<script>

  var lock = new Auth0Lock('2M7P0OrlDnifR6x8NfkNr3VQsdKsqaMC', 'middleground.auth0.com');

  lock.show({
      container: 'root'
    , callbackURL: 'http://localhost/dummy'
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
  });
</script>
