<div class="user-profile-container">
  <div class="user-details">
    <div class="user-avatar"></div>
  </div>
  <div class="favorite-spots"></div>
  <div class="recent-activities-container">
    <!-- list of 5 most recent activities -->
  </div>
  <div class="friends-list-container"></div>
  <div class="edit-profile-container">
    <!-- form for editing profile -->
    <div class="add-address-form-container">
      <!-- form to add address to profile -->
    </div>
  </div>
</div>
