/*= require foundation */

html body {
  color:white;
  background-color: #88B540;
  text-align: center;
}

.top-bar-section{
  text-align: left;
}

.interests{
  font-size:23px;
  text-align: center;
}

.recent-activities-container{
  font-size: 23px;
}

.new-activity-form-container{
  color:white;
}

.custom-label-class{
  color:yellow;
}

.favicon{
  padding-left:4px;
  /*padding-left: 8px;*/
  /*padding-bottom:-5px;*/
}

.map-container {
  border-color: white;
  border-width: 25px;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.friends-container {
  font-size: 23px;
}

#activity-new {
  font-size:23px;
}

.title-area {
  text-align:center;
}

#nav-buttons {
  background-color:#56ABB2;
  color:white;
  text-shadow: 0px 0px #56ABB2;
}

#logo{
  /*border: 10px solid black;*/
  height:95%;
  width: 100%;
}

#activity-button{
  padding: 8px;
  border-radius: 5px;
  /*width: 100%;*/
}

#activity-button a:hover{
background-color: #FEBD5F;
}

.button {
  background-color: #FEBD5F;
  font-weight: bold;
  text-shadow: 2px 2px darkgray;
}

.rating-button{
  background-color: #56ABB2;
  border-radius: 5px;
  font-weight: bold;
}

.rating-button:hover {
  background-color: #FEBD5F;
}

#getGeolocation{
  background-color: #56ABB2;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

#form-text{
  color:white;
}

.form_fields label{
  color:white;
}

.center {
  max-height: 25%;
  width: 100%;
  margin: 0 auto;
/*  padding-left: 25%;*/
}
.rate-form {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  html {
   /* background-color: white;
    font-size:50px;*/
  }
}

input[type=submit] {
  background-color: #FEBD5F;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 90%;
  /*margin-left: 33%*/
}

input[type=submit]:hover {
  background-color:#56ABB2;
}

.login-link a {
 /* color: #032436;
  z-index: 1;*/
}


a:link {

/*  text-decoration: none;
  color: #032436;*/

}



