<br><br>
<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
    <div id="floating-panel">
      <b>Mode of Travel:</b>
      <br>
      <select id="mode">
        <option value="SELECT">Select one</option>
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>
    </div>
    <div id="origin"></div>
    <div id="destination"></div>
  </div>
</div>

<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns">
    <div id="map-image", style="width: 100%; height: 500px;"></div>
    <div id="right-panel"></div>
    <div class="origin" data-origin-lat="<%=@origin[:lat]%>" data-origin-lng="<%=@origin[:lng]%>"></div>
    <div class="destination" data-destination-lat="<%=@destination[:lat]%>" data-destination-lng="<%=@destination[:lng]%>"></div>
  </div>
</div>
<br><br>
