<div class="content">
  <div class="create-activity">
    <h3> Activity Finder </h3>
      <!-- if there is a current user -->
        <!-- code here for new activity -->

        <div class="activity-sub-category">
        </div>
      <!-- else -->
        <!-- code here for visitor -->
      <!-- end -->
      <!-- category already here as a variable that was passed in -->
      <div class="activity-sub-category">
      </div>

  </div>
</div>
