<div class="activity-information-container">
  <div class="details-container">
    <p>You are going to <%= @activity.title %> with </p>
    <!-- You are going to ***place*** with ***friend*** -->
  </div>
  <div class="send-request-form">
    <!-- Send this request to ***friend***? Veto option -->
  </div>
  <div class="map-directions-container">
      <!-- You are here, ***friend*** is there, ***activity*** is here -->
  </div>
</div>
