<div class="page-container">
  <div class="content">
    <div class="activity-information-container">
      <div class="details-container">
        <p>You are going to <%= @activity.title %> with <%=@friend.username%></p>

        <p><%=@activity.location%></p>
      </div>
      <div class="send-request-form">
        <!-- Send this request to ***friend***? Veto option -->
      </div>
      <div class="map-directions-container">
        <%= link_to 'Get Directions', directions_path({:'data-destination-lat' => @activity.lat, :'data-destination-long' => @activity.long,  :'data-origin-lat' => current_user.lat, :'data-origin-long' => current_user.long}), :class => "destination"%>
      </div>
    </div>
  </div>
</div>
