<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey there, you have a new MiddleGround:</h1>
    <br>
    <p>@activity.title</p>
    <p>@activity.location</p>
    <br>
    <p>Check it out at <%= @url %>/login</p>
    <p>Have a great day!</p>
  </body>
</html>